$width: 480
$columns: 16
$gutter: 20

$tile_color: #CCC

$person_color: hsl(70, 90%, 50%)  
$place_color: hsl(30, 100%, 50%)
$time_color: hsl(330, 100%, 52%)
$tag_color: hsl(198, 90%, 50%)

@import ../sass_lib/reset
@import ../sass_lib/grid_system

@import helpers

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  margin: 0 !important
  
h1
  display: none

#app
  +container

#tabs
  +layout(12)
  +prepend(4)
  .tab
    +column(4)
    $size_2_c: 2 * $column + 1 * $gutter + $unit
    height: $size_2_c
    line-height: $size_2_c
    +gradient(#222, #666, #333)
    color: white
    text-align: center
    +border-radius(5)

#tiles
  margin-top: $gutter/2 + $unit
  .tile
    +layout(4)
    a
      +column(4)
      +border-radius(5)
      +box-shadow(0px, 1px, 1px, rgba(0,0,0,.66))

      color: white
      background: $tile_color

      $size_4_c: 4 * $column + 3 * $gutter + $unit
      width: $size_4_c
      height: $size_4_c
      line-height: $size_4_c
      
      font-weight: bold
      text-align: center
      text-decoration: none

      
    span
      +text-shadows(0px -1px 1px rgba(0,0,0,.4), 0px 1px 0px rgba(128,128,128,.66))
      font-weight: bold
  // icon types    
  .time
    a:hover
      +gradient(darken($time_color, 5%), lighten(desaturate($time_color, 5%), 5%), $time_color)
    a
      +gradient(darken($time_color, 10%), lighten(desaturate($time_color, 10%), 10%), $time_color) 
    
  .person
    a:hover
      +gradient(darken($person_color, 5%), lighten(desaturate($person_color, 5%), 5%), $person_color)
    a
      +gradient(darken($person_color, 10%), lighten(desaturate($person_color, 10%), 10%), $person_color)  

  .place
    a:hover
      +gradient(darken($place_color, 5%), lighten(desaturate($place_color, 5%), 5%), $place_color)
    a
      +gradient(darken($place_color, 10%), lighten(desaturate($place_color, 10%), 10%), $place_color)

  .tag
    a:hover
      +gradient(darken($tag_color, 5%), lighten(desaturate($tag_color, 5%), 5%), $tag_color)
    a
      +gradient(darken($tag_color, 10%), lighten(desaturate($tag_color, 10%), 10%), $tag_color)

