$width: 480
$columns: 16
$gutter: 10

$blood_red: #ed1c24
$gray: #999

@import ../sass_lib/reset
@import ../sass_lib/grid_system

@import helpers
@import modules

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  margin: 0 !important
  background: url(images/top_stripes.gif) repeat-x
  +container

h1
  display: none

#tabs
  +layout(12)
  +prepend(4)
  .tab
    +column(4)
    $size_2_c: 2 * $column + 1 * $gutter + $unit
    background: blue
    height: $size_2_c
    line-height: $size_2_c
    text-align: center

#icons
  +layout(16)
  
  .icon
    +column(4)
    $size_4_c: 4 * $column + 3 * $gutter + $unit
    height: $size_4_c 
    line-height: $size_4_c
    text-align: center
    background: #cf0