%html
  %meta{:charset => "utf-8"}
  %link{:rel => "stylesheet", :href => "stylesheets/style.css"}
  %script{:type => "text/javascript", :src => "javascripts/lib/jquery-1.6.4.js"}
  %script{:type => "text/javascript", :src => "javascripts/lib/json2.js"}
  %script{:type => "text/javascript", :src => "javascripts/lib/underscore.js"}
  %script{:type => "text/javascript", :src => "javascripts/lib/backbone.js"}
  %script{:type => "text/javascript", :src => "javascripts/application.js"}
%body
  %h1 MeanXY
  #wrap
    %ul#icons
      %li.icon.person
        %a{:href => "#"}
          %span 1
      %li.icon.tag
        %a{:href => "#"}
          %span 2
      %li.icon.tag
        %a{:href => "#"}
          %span 3
      %li.icon.time
        %a{:href => "#"}
          %span 4
      %li.icon.time
        %a{:href => "#"}  
          %span 5
      %li.icon.person
        %a{:href => "#"}
          %span 6
      %li.icon.person
        %a{:href => "#"}
          %span 7
      %li.icon.tag
        %a{:href => "#"}
          %span 8
      %li.icon.tag
        %a{:href => "#"}
          %span 9
      %li.icon.time
        %a{:href => "#"}
          %span 10
      %li.icon.place
        %a{:href => "#"}
          %span 11
      %li.icon.time
        %a{:href => "#"}
          %span 12
      %li.icon.time
        %a{:href => "#"}
          %span 13
      %li.icon
        %a{:href => "#"}
          %span 14
      %li.icon
        %a{:href => "#"}
          %span 15
      %li.icon
        %a{:href => "#"}
          %span 16
      %li.icon
        %a{:href => "#"}
          %span 17
      %li.icon
        %a{:href => "#"}
          %span 18
      %li.icon
        %a{:href => "#"}
          %span 19
      %li.icon
        %a{:href => "#"}
          %span 20
    
    #tabs
      .tab Note
      .tab View
      .tab Knot