%html
  %meta{:charset => "utf-8"}
  %link{:rel => "stylesheet", :href => "stylesheets/style.css"}
%body
  %h1 MeanXY
    
  #icons
    .icon 1
    .icon 2
    .icon 3
    .icon 4
    .icon 5
    .icon 6
    .icon 7
    .icon 8
    .icon 9
    .icon 10
    .icon 11
    .icon 12
    .icon 13
    .icon 14
    .icon 15
    .icon 16
    .icon 17
    .icon 18
    .icon 19
    .icon 20
    
  #tabs
    .tab Note
    .tab View
    .tab Knot
